.game{
    margin: 0px auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canavas-block{
    width: 35%;
}

@media (max-width: 1000px){
    .canavas-block{
        width: 40%;
    }
}

@media (max-width: 670px){
    .canavas-block{
        width: 50%;
    }
}

@media (max-width: 420px){
    .canavas-block{
        width: 85%;
    }
}